@charset "UTF-8";


/*====================index.html====================*/
#index-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../sources/index/desert_day_full.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1;
}


#wrap {
    /*border: solid 1px red;*/
    /*margin-top: 15px;*/
    height: 100vh;
}


#popup {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 2;
}
#popup.active {
    display: block;
    animation: popup .5s forwards;
}
@keyframes popup {
    from {
        opacity: 0;
        transform: scale(.25);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}








/*    win_container*/
#win_container {
    display: block;
    position: absolute;
    top: 25%;
    left: 25%;
    /*transform: translate(-50%, -50%);*/
    border: solid .5px gray;
    width: 800px;
    height: 600px;
    background: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
    transition: transform .75s ease;
    animation: win_min .75s forwards;

    /*z-index: -1;*/
}

#win_container.max {
    /*position: relative;*/
    transition: transform .75s ease;

    animation: win_max forwards .75s;
}
@keyframes win_max {
    0% {

    }
    100% {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes win_min {
    0% {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    100% {
        width: 800px;
        height: 600px;
    }
}



.win_top {
    width: 100%;
    height: 45px;
    /*border: solid 1px red;*/
    background: #e0e0e0;
    border-bottom: solid .25px #838383;

}
.win_top .name {
    /*border: solid 1px red;*/
    vertical-align: center;
    height: 45px;
    margin-left: 15px;
    align-content: center;
    position: absolute;
    font-size: 16px;
    color: #727272;
}
.win_btn {
    /*border: solid 1px red;*/
    float: right;
    margin-right: 15px;
    margin-top: 12px;
}
.win_btn img {
    width: 20px;
    margin-left: 10px;
}
/*.max:hover {*/
/*    opacity: .5;*/
/*}*/

#win_contents {
    /*border: solid 1px red;*/
    width: 95%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.iconFlex {
    /*border: solid 1px blue;*/
    width: 9rem;
    aspect-ratio: 1 / 1.25;
}
.imgBox {
    /*border: solid 1px green;*/
    width: 100%;
    height:75%;
}
.textBox {
    text-align: center;
    font-size:18px;
}

.imgBox img {
    width: 80%;
    display: flex;
    justify-self: center;
    margin-top: 15px;
    border-radius: 15px;
    border: solid .5px #EFEFEF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
}



/*====================1.html====================*/







/*====================4.html====================*/
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    animation: rotate 10s infinite alternate;
}
.box {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;

    width: 300px;
    height: 300px;
    /*background: rgba(0, 0, 0, .3);*/
    color: #fff;
}
.front {
    transform: translateZ(150px);
    background: url("../sources/04minecraft/1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.back {
    transform: translateZ(-150px);
    background: url("../sources/04minecraft/2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.top {
    transform: rotateX(90deg) translateZ(150px);
    background: url("../sources/04minecraft/3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bottom {
    transform: rotateX(90deg) translateZ(-150px);
    background: url("../sources/04minecraft/4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.left {
    transform: rotateY(90deg) translateZ(-150px);
    background: url("../sources/04minecraft/5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.right {
    transform: rotateY(90deg) translateZ(150px);
    background: url("../sources/04minecraft/6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes rotate {
    0% {transform: rotateY(0deg)}
    100% {transform: rotateY(360deg) rotateX(360deg)}

}






/*====================5.html====================*/
section#ae_container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid .5px #b0b0b0;
    /*min-width: 1050px;*/
    /*max-width: 2560px;*/
    width: 60vw;
    /*max-height: 45vw;*/
    aspect-ratio: 1 / .7;
    background: #2a2a2a;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
}
#ae_top {
    width: 100%;
    height: 40px;
    /*border: solid 1px red;*/
    background: #f1f1f1;
    border-bottom: solid .25px #b0b0b0;

}
#ae_top .name {
    /*border: solid 1px red;*/
    vertical-align: center;
    height: 45px;
    margin-left: 15px;
    align-content: center;
    position: absolute;
    font-size: 14px;
    color: #727272;
}

/*원*/
#ball {
    position: absolute;
    width: 5vw;
    aspect-ratio: 1 / 1;
    top: 35%;
    left: 10%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    animation: graph 2s ease infinite alternate;
}
#ball.graph2 {
    animation: graph 1s cubic-bezier(0.5, 0.05, 0, 1.02) infinite alternate;
}
#ball.graph3 {
    animation: graph 1s cubic-bezier(0.88, 0.02, 0, 1) infinite alternate;
}
#ball.graph4 {
    animation: graph 1s cubic-bezier(0.71, 0.04, 0.91, 0.53) infinite alternate;
}

@keyframes graph {
    0% {left: 10%;}
    100% {left: 90%;}
}

/* After Effects 스피드 그래프 */
#speed-graph {
    /*border: solid 1px red;*/
    position: absolute;
    width: 100%;
    bottom: 5%;
}
#speed-graph .svg-graph {
    /*border: solid 1px blue;*/
    display: flex;
    margin: 0 auto;
    width: 95%;
}
#bezier-control {
    transition: d .5s ease;
}

/*버튼구성*/
#btn-cluster {
    /*border: solid 1px red;*/
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 1.5vw auto;
}
.graph-btn {
    /*border: solid 1px blue;*/
    width: 5vw;
    height: 5vw;
    background: #171717;
}
.graph-btn img {
    width: 100%;
}







/*====================7.html====================*/
.watercan {
    animation: watercan 4s infinite alternate;
    transform-origin: 450px 800px;
}
@keyframes watercan {
    50% {transform: translateY(-150px)}
    100% {transform: rotateZ(30deg)}
}

.watercanShadow {
    animation: watercanShadow 4s infinite alternate;
    transform-origin: 200px 900px;
}
@keyframes watercanShadow {
    100% {transform: scale(.7)}
}

.hammer {
    animation: hammer 2s infinite alternate;
    transform-origin: 1800px 1000px;
}
@keyframes hammer {
    100% {transform: rotateZ(-20deg)}
}

.saws {
    animation: saws 8s infinite alternate;
    transform-origin: 1200px 700px;
}
@keyframes saws {
    15% {transform: translate(-150px, -150px)}
    30% {transform: rotateZ(-160deg)}
    45% {transform: rotateZ(-160deg) translate(-150px, -100px)}
    60% {transform: rotateZ(-160deg) translate(-150px, -200px)}
    75% {transform: rotateZ(-160deg) translate(-150px, -100px)}
    100% {transform: rotateZ(-160deg) translate(-150px, -200px)}
}

/*.sun {*/
/*  animation: sun 3s 3s infinite alternate;*/
/*}*/
/*@keyframes sun {*/
/*  100% {transform: translate(400px, -300px)}*/
/*}*/

#wrap7 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(#7fb1ff, #cee9ff);
    z-index: -1;
}
#Layer_1 {
    background: url("../sources/07animal_crossing/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg7 {
    background: url("../sources/07animal_crossing/bg.webp");
}